<!doctype html>
<title>Milestone Project</title>

  <link rel=stylesheet type=text/css href='{{ url_for('static',filename='style_lulu.css')}}'>

  <div class=metanav>


    <h2>Please enter a stock ticker.</h2>

    <h4>
      <form id='answerform' method='post' action='resultpage' >
	<p>
		Ticker : <input type='text' name='stock' placeholder='AAPL' />
	  </p>
        <p>

		<input type="radio" name='feature' value='Close' align='left' checked='yes' /> Closing price<br>
		<input type="radio" name='feature' value='Open' align='left' /> Opening price<br>
		<input type="radio" name='feature' value='High' align='left' /> Highest price of the day<br>
		<input type="radio" name='feature' value='Low' align='left' /> Lowest price of the day<br>

        </p>

        <p>
          <input type='submit' value='Plot' />
        </p>
      </form>
    </h4>
	<h2> {{ msg }} </h2>
  </div>
</div>
